<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>All Fruits</h1>
    <a href="/">Home</a>
    <a href="/fruits/new">Add New Fruit</a>
    <ul>
      <% fruits.forEach((fruit) => { %>
      <a href="/fruits/<%= fruit._id %>">
        <li><%= fruit.name %></li>
      </a>
      <% }) %>
    </ul>

 
  </body>
</html>
